* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: linear-gradient(to right, rgb(113, 4, 113), rgb(255, 0, 255));
  color: white;
  height: 5em;

}

.header--logo {
  height: 3.125em;
  margin: 1em;
}

.header--description {
  margin-left: auto;
  margin-right: 1em;
}

.form {
  margin: 3.125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form--container {
  display: flex;
}

.form-text-top, .form--text--bottom {
  padding: 0.625em;
  border-radius: 5px;
  margin: 0.3125em auto;
  width: 45vw;
  border-color: rgb(194, 194, 194);
}

.form-text-top {
  margin-right: 0.3em;
}

.form--button {
  padding: 0.625em;
  width: 100%;
  background-image: linear-gradient(to right, rgb(113, 4, 113), rgb(255, 0, 255));
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 1.875em auto;
  border: none;
  cursor: pointer;
}

.meme--image {
  width: 50vw;
  align-self: center;
}

.meme--text {
  position: absolute;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 2px black;
  font-size: 3.125rem;
}

.top {
  top: 3.125em;
  left: 1.875em;
}

.bottom {
  bottom: 3.125em;
  left: 1.875em;
}

.meme {
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .form--container {
    flex-direction: column;
  }

  .header {
    height: 7em;
  }
}